
table td,th{ 
    border: 1px solid black; 
}
td{
    background-color: white;
    padding: 10px;
} 
button{
    background-color:whitesmoke;
}
input{
    border-radius: 5px;
}
#type{
    border-radius: 5px;
}
